h1 {
    font-size: 3em;
    text-align: center;
    font-weight: 600;
    color: black;
  }
  
  h1 span span {
    position: relative;
    animation: move-text-color 1s forwards;
    left: -5.5em;
    opacity: 0;
  }
  
  @keyframes move-text-color {
    0% {
      bottom: -0.4em;
      opacity: 1;
      color: #fd5168;
    }
    
    50% {
      bottom: 0.3em;
      color: #940019;
    }

    75% {
    bottom: 0.1em;
      color: #ca931c;
    }
  
    100% {
      bottom: 0;
      opacity: 1;
      color: #464646;
    }
  }